/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  background-color: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
}
/*globales*/

.contenedor{
  width: 98%;
  margin: 0 auto;
}

/* ==========================================================================
   header
   ========================================================================== */


header.encabezado{
  background: #cccccc;
  padding: 60px;
}

div.logo{
  position: absolute;
  margin-top: -50px;
}

div.logo h3{
  margin-left: 150px;
  margin-top: -55px;
  font-size: 1.5em;
  font-family: 'Oswald', sans-serif;
  color: #fe4918;
}

img.rectangulo{
  margin-left: 500px;
  margin-top: -85px;
}

h3.bienvenido{
  margin-left: 780px!important;
}

img.seleccion{
  margin-left: 950px!important;
  margin-top: -90px!important;
  overflow: hidden;
  max-width: 100%;
  filter: gray;
-webkit-filter: grayscale(1);
-webkit-transition: all.5s ease-in-out;

}


img.seleccion:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}
/* ==========================================================================
   contenido login
   ========================================================================== */

   div.contenido-login{
     background-color: #30DB32;
     margin: 0 auto;
     width: 850px;
     height: 750px;
     margin-top: 50px;
   }

div.barara-ingresar{
  margin: 0 auto;
  background: #005826;
  width: 850px;
  height: 50px;
}

div.barara-ingresar h4{
  color: #fe4918;
  position: absolute;
  margin-left: 320px;
 margin-top: 10px;
 font-family: 'Oswald', sans-serif;
 height: 20px;
}

div.imagen-login{
  position: absolute;
  margin-top: 50px;
  margin-left: 400px;
  font-size: 3em;
  color: #ffffff;
}

div.imagen-login:hover{
  color:#005826;
  -webkit-transition: all.5s ease-in-out;
}

form.formulario-ingreso{
  position: absolute;
  margin-left: 400px;
  margin-top: 200px;
}

h5.login-inicio{
  margin-left: 0px;
  font-family: 'Oswald', sans-serif;
  color: #005826;
  font-size: 1.5em;
}

input.email-login{
  width: 300px;
  margin-left: -120px;
  height: 30px;
  background-color: #CCFFCC;
  padding: 5px 5px 5px 25px;
  border: 2px solid #005826;
}

h5.password{
  font-family: 'Oswald', sans-serif;
  color: #005826;
  font-size: 1.5em;
}
input.password-login{
  width: 300px;
  margin-left: -120px;
  height: 30px;
  background-color: #CCFFCC;
  padding: 5px 5px 5px 25px;
  border: 2px solid #005826;

}

#imagen-email{
  position: absolute;
  margin-left: -298px;
  margin-top: 7px;
  color: #005826;
}

#imagen-password{
  position: absolute;
  margin-left: -298px;
  margin-top: 8px;
  color: #005826;
}

a.olvido-contraseña{
  margin-left: -200px;
  text-decoration: none;
  color: #005826;
  background: #CCFFCC;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  height: 31px;
  width: 153px;
  border: 2px solid #005826;

}
a.olvido-contraseña:hover{
  background: #005826;
  color: #ffffff;
  -webkit-transition: all.5s ease-in-out;
}

a.registar{
  margin-left: 100px;
  text-decoration: none;
  color: #005826;
  background: #CCFFCC;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  height: 31px;
  width: 153px;
  text-align: center;
  border: 2px solid #005826;
}
a.registar:hover{
  background: #005826;
  color: #ffffff;
  -webkit-transition: all.5s ease-in-out;
}

input.boton-entrar{
  color: #005826;
  background: #CCFFCC;
  font-size: 1.5em;
  border: 2px solid #005826;
}

input.boton-entrar:hover{
  background: #005826;
  color: #ffffff;
  -webkit-transition: all.5s ease-in-out;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */



/*footer*/
.site-footer{
background-color: #005826;
padding-top: 50px;
margin-top: 20px;
}

footer .contenedor > div{
  color: #ffffff;
  padding: 0px 20px;
  font-size: 12px;
  text-align: justify;

}
@media only screen and (min-width:768px){
  footer .contenedor > div{
    width: 33.3%;
    float: left;
  }
}

footer h3 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Oswald',sans-serif;
  margin-bottom: 20px;
}
footer h3 span{
  color: #fe4918;
}

footer .ultimos-tweets li{
  margin-bottom: 10px;
}

footer nav.redes-sociales {
  text-align: left;
}

p.copyright {

  background-color: #2e2e2e!important;
  color: #ffffff!important;
  text-align: center!important;
  padding: 10px 0!important;
  margin: 20px 0 0 0!important;
}

nav.redes-sociales a{
color: #ffffff;
margin-left: 13px;
font-size: 1.8em;
}

/* ==========================================================================
   interfaz-Escoger usuario
   ========================================================================== */
   a.boton-salir{
     text-decoration: none;
     position: absolute;
     margin-top: -60px;
     margin-left: 750px;
     font-family: 'Oswald',sans-serif;
     font-size: 1.5em;
     color: #fe4918;
     width: 75px;
     height: 38px;
     text-align: center;
   }

   a.boton-salir:hover{
   background: #005826;
   transition: all 1.5s ease-in-out;

   }

   a.boton-ayuda{
     text-decoration: none;
    position: absolute;
    margin-left: 850px;
    margin-top: -60px;
    font-family: 'Oswald',sans-serif;
    font-size: 1.5em;
    color: #fe4918;
    width: 75px;
    height: 38px;
    text-align: center;
   }
  a.boton-ayuda:hover{
    background: #005826;
    transition: all 1.5s ease-in-out;
  }

  /* ==========================================================================
     escogerUsuario
     ========================================================================== */
     div.contenido-escoger{
       margin: 0 auto;
       width: 1000px;
       height: 500px;
       background-color: #30DB32;
       margin-top: 50px;
     }

div.contenido-escoger h2{
  margin-left: 420px;
  font-family: 'Oswald',sans-serif;
  position: absolute;
  margin-top: 40px;
  color: #ffffff;
}

ul.elegir-usuario{
  list-style: none;
  position: absolute;
  margin-top: 150px;

}
div.contenido-escoger ul li a{
  font-size: 1.8em;

}
div.contenido-escoger ul li {
  font-family: 'Oswald',sans-serif;
  color: #ffffff;
}

div.contenido-escoger ul li:hover{

  color: #005826!important;
  transition: all 1.5s ease-in-out;
}
div.contenido-escoger ul li a i:hover{

color: #ffffff!important;
transition: all 1.5s ease-in-out;

}

div.contenido-escoger img {
  position: absolute;
  margin-left: 302px;
  margin-top: 124px;
  overflow: hidden;
  max-width: 100%;
  filter: gray;
-webkit-filter: grayscale(1);
-webkit-transition: all.5s ease-in-out;
}

div.contenido-escoger img:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
}

/* ==========================================================================
   Agenda Lacetos de belen
   ========================================================================== */
div.Agenda-lacetos{
  margin-top: 80px;
}

div.Agenda-lacetos i{
  margin-left: 140px;
  font-size: 2em;
  color: #005826;

}

div.Agenda-lacetos h3 {
  display: inline-block;
  margin-left: 20px;
  color: #fe4918;
  font-family: 'Oswald',sans-serif;
}

div.bd-example{
  width: 1000px;
  margin-left: 140px;
  margin-top: 50px;
}

div.contenido-1{
  background-color: rgba(225, 225, 225, 0.7);
  width: 700px;
  height: 602px;
  position: absolute;
  margin-top: -562px;
}

.mensaje-secundario{
  color: #fe4918!important;
  margin-top: 100px;
  text-align: center;
}

#calendario-item{
  position: absolute;
  margin-left: -300px;
  margin-top: 40px;
}

p.hora-evento{
  position: absolute;
  margin-left: 90px;
  margin-top: 38px;
  font-family: 'Oswald',sans-serif;
    color: #fe4918;
}

p.lugar-evento{
 position: absolute;
 margin-top: 40px;
 margin-left: 500px;
 font-family: 'Oswald',sans-serif;
   color: #fe4918;
}

#localización-evento{
  margin-top: 40px;
  margin-left: 115px;
  position: absolute;
}

div.horas1 ul{
  list-style: none;
}

div.horas1 ul li{
  float: left;
  width: 100px;
  margin-top: 200px;
  margin-left: 10px;
  font-size: 1.5em;
  font-family: 'Oswald',sans-serif;
  color: #fe4918;
}

div.horas1 ul li p{
  color: #005826;
}
/* ==========================================================================
  nav-menu
   ========================================================================== */

 div.Navegacion{
   background: #005826;
 }
 nav.navegacion-menu {
   width: 1200px;
   margin: 0 auto;
   position: relative;
 }

 nav.navegacion-menu ul{
   list-style: none;
 }
 nav.navegacion-menu > ul > li{
   float: left;
 }

 nav.navegacion-menu ul::after{
   content: '';
   display: block;
   clear: both;
 }

 nav.navegacion-menu ul li a{
   display: inline-block;
   width: 145px;
   color: #ffffff;
   text-decoration: none;
   text-align: center;
   padding: 20px;
 }

 nav.navegacion-menu ul li a:hover{
   background-color: #30DB32;
   text-decoration: none;
   color: #ffffff;
 }

 /*Segundo Nivel*/
 nav.navegacion-menu ul ul {
   position: absolute;
   top: 100%;
   background-color:rgba(0, 88, 38, 0.9);
   display: none;
 }

 nav.navegacion-menu ul li:hover > ul{
   display: block;
 }
 nav.navegacion-menu ul li:hover{
   background-color:rgba(48, 219, 50, 0.9);
 }

 /* ==========================================================================
    Dahs-Board
    ========================================================================== */
  div.contenido-dashBoard{
    width: 1000px;
    height: 300px;
    background: #3CBF89;
    margin: 0 auto;
    margin-top: 80px;
  }

  div.contenido-dashBoard h4{
    color: #ffffff;
    margin-left: 30px;
    position: absolute;
    margin-top: 40px;
    margin-left: 450px;
    font-family: 'Oswald', sans-serif;
  }

  nav.dashBoard{
    width: 1500px;
    margin: 0 auto;
    position: absolute;
    margin-top: 130px;

  }

  nav.dashBoard ul{
    list-style: none;

  }
 nav.dashBoard > ul > li{
   float: left;
 }

nav.dashBoard ul::after{
  content: '';
  display: block;
  clear: both;
}

nav.dashBoard ul li a{
  display: inline-block;
  width: 135px;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  color: #ffffff
}

nav.dashBoard ul li a:hover{
color: #fe4918;
transition: all.5s ease-in-out;
}

nav.dashBoard ul li a i{
  font-size: 1.7em;
  background: linear-gradient(#626ED8,#B914A4,#BC11A2);
  -webkit-background-clip: text;
  color: transparent;
}

nav.dashBoard ul li a i:hover{
  color: #005826;
  transition: all.5s ease-in-out;
}

/* ==========================================================================
Interfaz clientes de director
   ========================================================================== */
   div.area-buscador{
     margin-left: 900px;
     margin-top: 100px;
   }

input.buscador{
  width: 300px;
  margin-left: -120px;
  height: 30px;
  background-color:rgba(241, 249, 255, 0.7);
  padding: 5px 5px 5px 25px;
  border: 2px solid #0A5389;
}

button.buscar_cliente{
  margin-left:20px;
  text-decoration: none;
  color: white;
  background: #005826;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  height: 31px;
  width: 153px;
 border: 2px solid #005826;

}
button.buscar_cliente:hover{
  background: #0A5389;
  color: #ffffff;
  -webkit-transition: all.5s ease-in-out;
  border: 2px solid #ffffff;
}

::placeholder { color: rgba(0, 88, 38, 0.9); }

div.agregar-Usuario{
  position: absolute;
  margin-left: -500px;
  margin-top: -40px;
}

.boton-agregar{
  text-decoration: none;
  color: white;
  background: #005826;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  height: 31px;
  width: 153px;
 border: 2px solid #005826;
}

.boton-agregar:hover{
  background: #0A5389;
  color: #ffffff;
  -webkit-transition: all.5s ease-in-out;
  border: 2px solid #ffffff;
}

div.posibles-clientes{
  margin-top: 100px;
  margin-left: 20px;
}

div.cartas{
  width: 300px;
  height: 550px;
  background: #F1F9FF;
  border-radius: 9px 9px 9px 9px!important;

}

div.cartas img {
border-radius: 7px 7px 0px 0px;
overflow: hidden;
max-width: 100%;
filter: gray;
-webkit-filter: grayscale(1);
-webkit-transition: all.5s ease-in-out;
-webkit-transform: scale(0.9);

}

div.cartas img:hover{
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.0);
}

.nombre-persona{
  color: #2699FB;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

.nombre-persona span{
  color:  #0A5389;

}

.email-persona{
  color: #2699FB;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
  font-size: 1.2em;
}
.email-persona span{
  color:  #0A5389;
}
.telefono-persona{
  color: #2699FB;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
  font-size: 1.2em;
}
.telefono-persona span{
  color: #0A5389;
}
.producto-persona{
  color: #2699FB;
  font-family: 'Oswald', sans-serif;
  margin-left: 10px;
  font-size: 1.2em;
}
.producto-persona span{
  color:  #0A5389;
}

.ver-mas{

  background: #005826;
  text-align: center;
  color: white;
  text-decoration: none;
  margin-left: 40PX;
  transition: all.5s ease-in-out;
  border-radius:  2px 2px 2px 2px;
  position: absolute;
  width: 200px;
}
.ver-mas:hover{
background:  #0A5389;
color: white;
text-decoration: none;

}

.lista-clientes{
  list-style: none;
  float: left;
}

.lista-clientes::after{
  content: '';
  display: block;
  clear: both;
}

.lista-clientes .estilo-lista {
  display: inline-block;
  width: 400px;
  margin-top: 20px;
}

/* ==========================================================================
   Formulario nuevo cliente director
   ========================================================================== */

.Fomulario-cliente h4{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #2699FB;
}

.formulario-client{
  text-align: center;
  color: #0A5389;
}

.Nombre-usuario{
  padding: 5px 5px 5px 25px;
  height: 30px;
  background-color:rgba(241, 249, 255, 0.7);
  border: 2px solid #0A5389;
  width: 350px;
}

.mail-usuario{
  padding: 5px 5px 5px 25px;
  height: 30px;
  background-color:rgba(241, 249, 255, 0.7);
  border: 2px solid #0A5389;
  width: 350px;
}

.telefono-usuario{

  padding: 8px 8px 8px 25px;
  height: 30px;
  background-color:rgba(241, 249, 255, 0.7);
  border: 2px solid #0A5389;
  width: 350px;
}

.opciones-Quesos{
  height: 30px;
  background-color:rgba(241, 249, 255, 0.7);
  border: 2px solid #0A5389;
  width: 350px;
}

.foto-user{
  height: 30px;
  background-color:rgba(241, 249, 255, 0.7);
  border: 2px solid #0A5389;
  width: 350px;
}

.summit-boton{
  color: #ffffff;
  background-color:#0A5389;
  transition: all.5s ease-in-out;
  height: 30px;
  width: 350px;

}

.summit-boton:hover{
 background: #2699FB;
 transition: all.5s ease-in-out;

}

/* ==========================================================================
   Formulario nuevo cliente director
   ========================================================================== */
   .Titulo-sucursal{
     text-align: center;
     margin-top: 100px;
     color: #2699FB;
     font-family: 'Oswald', sans-serif;
   }
   table{
     width: 80%;
     margin-top: 140px;
     border: 1px solid #707070;
     margin: 0 auto;
     background-color: #ffffff;
   }

   th{
     width: 15%;
     text-align: center;
     vertical-align: top;
     border: 1px solid #707070;
   }

 .semanales{
   color: #707070;
 }
   .semanales:hover{
     background-color: #0A5389;
     color: #ffffff;
     transition: all.5s ease-in-out;
   }
   thead{
     background-color: #2699FB;
     color: #ffffff;
   }
   /*Botones*/
   .exportar-excel{
     color: white;
     background-color: #2699FB;
     font-family: 'Oswald', sans-serif;
     border-radius: 36px 36px 36px 36px;
     width: 140px;
     height: 50px;
   }

   .exportar-excel:hover{
     background-color: #0A5389;
     transition: all.5s ease-in-out;

   }

   /* ==========================================================================
      interfaz empleados
      ========================================================================== */

.empleados-lista{
  list-style: none;
}
.empleados-list{
  width: 200px;
  height: 200px;
  background: #F1F9FF;
  border-radius: 200px 200px 200px 200px;

}

.empleados-foto{
  border-radius: 200px 200px 200px 200px;
  width: 150px;
  height: 150px;
  margin-left: 25px;
  margin-top: 25px;
  overflow: hidden;
  -webkit-transform: scale(0.9);
  transition: all.5s ease-in-out;
}

.empleados-foto:hover{
-webkit-transform: scale(1.0);
}

.nombre-empleado{
margin-left: 15px;
color: #2699FB;
font-family: 'Oswald', sans-serif;
font-size: 1.2em;
}

.Departamento-empleado{
  margin-left: 40px;
  color: #2699FB;
  font-size: 1.1em;
}


/*Modal ver mas*/
.empleados-list1{
  width: 110px;
  height: 110px;
  background: #F1F9FF;
  border-radius: 200px 200px 200px 200px;
  margin-left: -20px;
}

.empleados-foto1{
  border-radius: 200px 200px 200px 200px;
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-top: 5px;
  overflow: hidden;
  -webkit-transform: scale(0.9);
  transition: all.5s ease-in-out;
}

.empleados-foto1:hover{
-webkit-transform: scale(1.0);
}

.form-group{
  margin-left: 100px;
  margin-top: -130px;
}

/*buscador clientes*/
.buscar-cliente{
text-align: center;
}

.busca-clientes{
  padding: 5px 5px 5px 25px;
  border: 2px solid #0A5389;
  background: rgba(241,249,255,.8);
}
.buscar_botons{
  color: white;
  background-color: #2699FB;
  font-family: 'Oswald', sans-serif;
  border-radius: 36px 36px 36px 36px;
  width: 140px;
  height: 30px;
  transition: all.5s ease-in-out;
}

.buscar_botons:hover{
  background-color: #0A5389;
  transition: all.5s ease-in-out;
}



/*prueba*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;

}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #2699FB;
	color: #0A5389;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #2699FB;
	-webkit-box-shadow: 1px 1px 3px #2699FB;
	box-shadow: 1px 1px 3px #2699FB;
  transition: all.5s ease-in-out;
}
.close:hover {
background: #0A5389;
color: white;
transition: all.5s ease-in-out;
}

/*nivel 2*/
.modalDialog1 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog1:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog1 > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}

/*nivel 3*/
.modalDialog2 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog2:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog2 > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}

/*nivel 4*/
.modalDialog3 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog3:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog3 > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}

/*nivel 5*/
.modalDialog4 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog4:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog4 > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}

/*nivel 5*/
.modalDialog5 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog5:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog5 > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}



/*Datos Modal*/
.body-modal{
  background: #0A5389;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

/*lista empleados */
/*
div.lista-empleados > ul > li{
  float: left;
}

div.lista-empleados ul::after{
 content: '';
 display: block;
 clear: both;
}
*/

.uno-lista{
  float: left;
}


div.lista-empleados ul::after{
 content: '';
 display: block;
 clear: both;
}

.lista-empleados{
  width: 100%;
  margin: auto;
}

.uno-lista{
  margin-left: 80px;
  margin-top: 30px;
}

/* ==========================================================================
  Interfaz Tipo de Logistica
   ========================================================================== */
   /*Formulario Logisticas*/
   .contenido-Formulario h4{
     color: #2699FB;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     margin-top: 160px;
   }

   .contenido-Formulario label{
     color: #2699FB;
     font-family: Arial, Helvetica, sans-serif;
   }

.Nombre-Conductor{
  height: 30px;
  background-color:rgba(241, 249, 255, 0.7);
  border: 2px solid #0A5389;
  width: 350px;
}

.Formulario-logistica{
  text-align: center;
}

.Nota-usuario{
  background-color:rgba(241, 249, 255, 0.7);
  border: 2px solid #0A5389;
}

/*Logistica de Entrada*/
.Logistica-Entrada{
  background-color: white;
  width: 900px;
  height: 600px;
  margin: 50px auto;
}

.Logistica-Entrada1 h5{
  color: #2699FB;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 140px;
}

.Producto-Llegando{
  background-color: #CFE4F6;
  height: 40px;
}

.Producto-Llegando h6{
  color: #2699FB;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 10px 10px 30px;
  position: absolute;
  font-weight: bold;
}
.Datos-Llenar ul {
  list-style: none;
  margin-top: 70px;
}

.Datos-Llenar ul > li{
  float: left;
}

.Datos-Llenar ul::after{
  content: '';
  display: block;
  clear: both;
}

.lista-items1{
  margin-top: -20px!important;
}

.lista-items li h8{
  color: #2699FB;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

.lista-items li i {
  background: linear-gradient(#626ED8,#B914A4,#BC11A2);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.2em;
}
/*Banda Azul*/
.Banda-Azul{
  background-color: #CFE4F6;
  height: 40px;
  margin-top: 120px;
}

.Banda-Azul ul {
  list-style: none;
}

.Banda-Azul ul > li {
  float: left;
}

.Banda-Azul ul::after{
  content: '';
  display: block;
  clear: both;
}

.Banda-Azul ul li {
  margin-left: 70PX;
  width: 210PX;
}
.Banda-Azul ul li {
  color: #2699FB;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.Banda-Azul ul li span{
  color: #858585;
  font-weight: normal;
}

/*textarea*/
.post-content{
  position: relative;
transition: all .2s ease-in-out;
}

.comentario-Header{
  line-height: 5;
font-size: 13px;
padding-right: 46px;
margin-bottom: 3px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
